/* #user-list {
    /* display: flex; */
    /* display: inline-block; */
    /* background-color: aqua;
} */ */
/* p {
    display: flex;
} */
/* .one {
    display: inline-block; 
}
.two {
    display: inline-block; 
} */
.inblock {
    display: inline-block;
}